@font-face {
	font-family: 'BrushScriptStd';
	src: url("./BrushScriptStd.120a1b39d77f.eot");
	src: local('BrushScriptStd'), url("./BrushScriptStd.f1a0e76e389a.woff") format('woff'), url("./BrushScriptStd.d38e7a125808.ttf") format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_11739">Text with this font applied</p> */
.fontsforweb_fontid_11739 {
	font-family: 'BrushScriptStd' !important;
}

/* Font downloaded from FontsForWeb.com */