{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row in_exterior">
    <div class="col-md-12 col-sm-12 mb-5"><h2 class="text-center">Car Interior View</h2></div>
    
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/back_seats.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/back_seats.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/back_seats_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/back_seats_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/back_seats2.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/back_seats2.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/black_bashboard.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/black_bashboard.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/blue_back_seats.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/blue_back_seats.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/blue_front_seats_dashboard.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/blue_front_seats_dashboard.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/cup_holder.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/cup_holder.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/front_seat_mirror.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/front_seat_mirror.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/front_seats_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/front_seats_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/ogrange_back_seats_3.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/ogrange_back_seats_3.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_back_seats.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_back_seats.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_back_seats_flat.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_back_seats_flat.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_back_seats2.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_back_seats2.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_dashboard.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_dashboard.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_driver_view.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_driver_view.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_front_arm.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_front_arm.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_front_seat_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_front_seat_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_front_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_front_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/orange_trunk.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/orange_trunk.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/interior/trunk.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/interior/trunk.jpeg' %}" alt="Second slide"></a>
    </div>
  </div>
</div>
{% endblock %}