{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row in_exterior">
    <div class="col-md-12 col-sm-12 mb-5"><h2 class="text-center">Car Exterior View</h2></div>
    
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/blue_front.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/blue_front.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/blue_rear.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/blue_rear.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/green_front_door_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/green_front_door_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/green_front_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/green_front_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/green_rear.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/green_rear.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/green_side.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/green_side.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/orange_back_seats.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/orange_back_seats.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/orange_front.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/orange_front.jpeg' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/electric_cars/exterior/orange_rear.jpeg' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/electric_cars/exterior/orange_rear.jpeg' %}" alt="Second slide"></a>
    </div>

  </div>
</div>
{% endblock %}