{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block homepage %}

<div class="home-content">

    <div id="mobile-hide" style="max-width: 80%; max-height: 100vh;" class="container mb-4" data-interval="3000">
        <div id="carouselExampleIndicators" class="carousel slide mb-4" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/exterior-2nd-floor.jpg' %}" alt="First slide">
                {% comment %} <div class="slider-content">New Castle Model</div> {% endcomment %}
              </div>
              <div class="carousel-item">
                <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/2-story-front-view.jpg' %}" alt="First slide">
                <div class="slider-content">New Castle Model</div>
              </div>
              <div class="carousel-item">
                <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/isometric-min.jpg' %}" alt="Second slide">
                <div class="slider-content">New Castle Model</div>
              </div>
              <div class="carousel-item">
                <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/driveway-min.jpg' %}" alt="Second slide">
                <div class="slider-content">New Castle Model</div>
              </div>
                <div class="carousel-item">
                    <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/beach-rear-min.jpg' %}" alt="Second slide">
                    <div class="slider-content">New Castle Model</div>
                </div>
            
                <div class="carousel-item">
                    <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/1S2W-angle.jpg' %}" alt="Second slide">
                    <div class="slider-content">La Motte Model</div>
                </div>
                <div class="carousel-item">
                    <img class="carousel-img1 img-fluid d-block" src="{% static 'users/imgs/1S2W-front.jpg' %}" alt="Second slide">
                    <div class="slider-content">La Motte Model</div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
    </div>
    <div class="static-slider">
        <div class="remove-slider">
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <span class="feature_pro mb-5">FEATURED PROJECTS</span><br><br>
                <div class="row mb-4">
                    <div class="col-md-4 col-sm-4 font_7days">7 days to complete</div>
                    <div class="col-md-4 col-sm-4">
                        <p class="font_8">Assembly of the house on concrete footing&nbsp;can be completed within a week after obtaining your building permit. After your very first call with us, you can typically expect to move in to your new home within 3 months.</p>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <img class="img-fluid" alt="2 story home side view" data-type="image" itemprop="image"  src="{% static 'users/imgs/front-view.jpg' %}">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-7 col-sm-8">
                {% comment %} <img class="row2-img" alt="" src="{% static 'users/imgs/bb851b_6a2590487b894b44becba8c6286e6275_mv2.jpg' %}"> {% endcomment %}
                <img style="max-height: 50vh; width: 100%;" class="img-fluid" src="{% static 'users/imgs/View-16.jpg' %}" alt="First slide">
            </div>
            <div class="col-md-4 col-sm-4 row2-font"><p>COME<br>SEE<br>OUR<br>HOMES<br></p><span class="text-muted font_8" style="margin-top:-30px !important;">(coming soon)</span></div>
        </div>
        <div class="row mb-4 mt-4">
            <div class="col-md-12 col-sm-12">
                <p class="font_8">View a full-scale version of the housing option of your choice---our mobile exhibition is currently located in Southern California. Start by adding your name to our mailing list <a class="below_class" href="#id_subscribe">below</a> to be notified of developments and depending on volume we may come to your region!</p>
                    <p class="font_8">&nbsp;</p>
                    <p class="font_8">Your finished home will be <span style="font-weight:bold;">turnkey</span>, including all power and plumbing infrastructure,&nbsp;interior decor such as lighting fixtures, and basic kitchen appliances such as an induction stove, oven, and dishwasher. Additional equipment such as A/C or heating units may be included with your home by necessity or offered as an optional component.</p>
                    
            </div>
        </div>

    </div>

 <!-- </div> -->

{% endblock %}