{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<header class="masthead text-center text-white">
 <div class="masthead-content">
   <div class="container">
     <div class="row">
         <div class="col-lg-12">
             <div class="slider slider-for">
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Bedroom-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Kitchen-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Living-Area-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Bedroom-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Kitchen-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Living-Area-FINAL.jpg' %}">
                 </div>
             </div>
             <div class="slider slider-nav">
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Bedroom-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Kitchen-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Living-Area-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Bedroom-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Kitchen-FINAL.jpg' %}">
                 </div>
                 <div>
                     <img alt="" src="{% static 'users/new_custom/img/Living-Area-FINAL.jpg' %}">
                 </div>

             </div>
         </div>
     </div>
     <!--/main slider carousel-->
 </div>

 </div>
</header>
<section>
   <div class="container">
       <div class="row">
           <div class="col-lg-12 text-center">
               <div class="bg-grey py-5">
                 <h2 class="font2 font-weight-normal mb-3">New Castle Model</h2>
                 <h4 class="font-weight-normal m-0">3 STORY 2 WIDE 1,800 SQ.FT</h4>
               </div>
           </div>
       </div>
   </div>
</section>
<section id="tabs" class="project-tab mt-3">
 <div class="container">
     <div class="row">
         <div class="col-md-12">
              <div class="p-3 border1">
                 <nav>
                     <div class="nav nav-tab nav-pills nav-fill" id="nav-tab" role="tablist">
                         <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">OVERVIEW</a>
                         <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">FLOORPLANS</a>
                         <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">3D WALKTHROUGH</a>
                     </div>
                 </nav>
                 <div class="tab-content mt-3 p-2" id="nav-tabContent">
                     <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                          <p>The HO1 is simple. We take a 20’ shipping container, add our Honomobo modern design elements and turn it into a beautiful, efficient and functional space. Whether it’s a home office, studio, gym, or commercial structure we’ve got you covered. The HO1 comes in two models; a home office/open space or as a studio suite complete with a kitchen and bathroom. Either way it is your simple solution to adding some beautiful extra space quickly. Contact us today for more information.</p>
                          <div class="row">
                               <div class="col-12"><p class="font2">Home Facts</p></div>
                               <div class="col-md-6">
                                 <ul class="list-group list-group-flush">
                                     <li class="list-group-item">Beds <span>4</span></li>
                                     <li class="list-group-item">Bath <span>2.5</span></li>
                                     <li class="list-group-item">Sq.Ft. <span>1,900</span></li>
                                     <li class="list-group-item bb">Lot Size <span>3,500 Sq.Ft.</span></li>
                                   </ul>
                               </div>
                               <div class="col-md-6">
                                 <ul class="list-group list-group-flush">
                                     <li class="list-group-item">Price <span>Starting at $225,000</span></li>
                                     <li class="list-group-item">Kitchen <span>Breakfast counter/Appliances</span></li>
                                     <li class="list-group-item">Floor<span>Porcelain tile</span></li>
                                     <li class="list-group-item bb">Lot Size<span>3,500 Sq.Ft.</span></li>
                                   </ul>
                               </div>
                          </div>
                          <div class="row">
                             <div class="col-12"><p class="font2">Interior Information</p></div>
                             <div class="col-md-6">
                               <ul class="list-group list-group-flush">
                                   <li class="list-group-item">Beds <span>4</span></li>
                                   <li class="list-group-item">Bath <span>2.5</span></li>
                                   <li class="list-group-item">Sq.Ft. <span>1,900</span></li>
                                   <li class="list-group-item bb">Lot Size <span>3,500 Sq.Ft.</span></li>
                                 </ul>
                             </div>
                             <div class="col-md-6">
                               <ul class="list-group list-group-flush">
                                   <li class="list-group-item">Price <span>Starting at $225,000</span></li>
                                   <li class="list-group-item">Kitchen <span>Breakfast counter/Appliances</span></li>
                                   <li class="list-group-item">Floor<span>Porcelain tile</span></li>
                                   <li class="list-group-item bb">Lot Size<span>3,500 Sq.Ft.</span></li>
                                 </ul>
                             </div>
                        </div>
                        <div class="row">
                             <div class="col-12"><p class="font2">Exterior Information</p></div>
                             <div class="col-md-6">
                             <ul class="list-group list-group-flush">
                                 <li class="list-group-item">Beds <span>4</span></li>
                                 <li class="list-group-item">Bath <span>2.5</span></li>
                                 <li class="list-group-item">Sq.Ft. <span>1,900</span></li>
                                 <li class="list-group-item bb">Lot Size <span>3,500 Sq.Ft.</span></li>
                                 </ul>
                             </div>
                             <div class="col-md-6">
                             <ul class="list-group list-group-flush">
                                 <li class="list-group-item">Price <span>Starting at $225,000</span></li>
                                 <li class="list-group-item">Kitchen <span>Breakfast counter/Appliances</span></li>
                                 <li class="list-group-item">Floor<span>Porcelain tile</span></li>
                                 <li class="list-group-item bb">Lot Size<span>3,500 Sq.Ft.</span></li>
                                 </ul>
                             </div>
                     </div>

                     </div>
                     <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                          <div class="row">
                             <div class="col-lg-6 text-center mb-4">
                                 <a href="#" class="text-black" data-toggle="modal" data-target="#myModal"><img
                                       alt="garage" src="{% static 'users/imgs/garage.png' %}" class="img-fluid">
                                     <br><br>Garage</a>
                                   <!-- Modal -->
                                     <div id="myModal" class="modal fade" role="dialog">
                                         <div class="modal-dialog modal-lg">
                                             <!-- Modal content-->
                                             <div class="modal-content">
                                                 <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      <object data="{% static 'users/files/floor_plans/garage.pdf' %}"
                                                              type="application/pdf" width="100%" height="800px"></object>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-6 text-center mb-4">
                                     <a href="#" class="text-black" data-toggle="modal" data-target="#myModal1">
                                         <img alt="first_floor" src="{% static 'users/imgs/first_floor.png' %}" class="img-fluid">
                                         <br><br>First Floor
                                     </a>
                                     <!-- Modal -->
                                       <div id="myModal1" class="modal fade" role="dialog">
                                           <div class="modal-dialog modal-lg">
                                               <!-- Modal content-->
                                               <div class="modal-content">
                                                   <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      <object data="{% static 'users/files/floor_plans/first_floor.pdf' %}"
                                                              type="application/pdf" width="100%" height="800px"></object>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                          </div>
                          <div class="row">
                             <div class="col-lg-6 text-center mb-4">
                                 <a href="#" class="text-black" data-toggle="modal" data-target="#myModal2"><img
                                       alt="second_floor" src="{% static 'users/imgs/second_floor.png' %}" class="img-fluid">
                                     <br><br>Second Floor</a>
                                   <!-- Modal -->
                                     <div id="myModal2" class="modal fade" role="dialog">
                                         <div class="modal-dialog modal-lg">
                                             <!-- Modal content-->
                                             <div class="modal-content">
                                                 <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                    <object data="{% static 'users/files/floor_plans/second_floor.pdf' %}"
                                                              type="application/pdf" width="100%" height="800px"></object>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                                 <div class="col-lg-6 text-center mb-4">

                                     <a href="/static/users/files/floor_plans.pdf" class="text-black"
                                        data-toggle="modal" data-target="#myModal3">
                                         <img alt="third_floor" src="{% static 'users/imgs/third_floor.png' %}" class="img-fluid">

                                         <br><br>Third Floor
                                     </a>
                                     <!-- Modal -->
                                       <div id="myModal3" class="modal fade" role="dialog">
                                           <div class="modal-dialog modal-lg">
                                               <!-- Modal content-->
                                               <div class="modal-content">
                                                   <div class="modal-body"><button type="button" class="close" data-dismiss="modal">&times;</button>
                                                      <object data="{% static 'users/files/floor_plans/third_floor.pdf' %}"
                                                              type="application/pdf" width="100%" height="800px"></object>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                          </div>
                     </div>
                     <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                         <div class="embed-responsive embed-responsive-16by9">
                             <iframe class="embed-responsive-item" src="https://boltonbloks.shapespark.com/3-storey_house/" allowfullscreen></iframe>
                           </div>
                     </div>
                 </div>
              </div>
         </div>
     </div>
 </div>
</section>


{% block  js %}
<script type="text/javascript">
 $(document).ready(function(){
     $('.slider-for').slick({
         slidesToShow: 1,
         slidesToScroll: 1,
         arrows: false,
         fade: true,
         asNavFor: '.slider-nav'
     });
     $('.slider-nav').slick({
         slidesToShow: 3,
         slidesToScroll: 1,
         asNavFor: '.slider-for',
         arrows: true,
         dots: false,
         centerMode: true,
         focusOnSelect: true
     });
 });
</script>
{% endblock %}

{% endblock %}