{% extends "users/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content%}
<div class="container ">
   <h1 class="text-center">Registration</h1>
   <p class="text-center"><span class="text-muted">Step {{wizard.steps.step1}} of {{wizard.steps.count}}</span></p>
    <div class="row bg-grey">
       <div class="col-md-4">
          <div class="text-center" style="vertical-align: bottom">
             <p>Need help?</p>
             <a href="#" class="">Contact us</a>
          </div>

       </div>
        <div class="col-md-8 registration_form_input">
            {% for errors in form.non_field.errors %}
            <p style="font-size:14px" class="help text-danger ml-5">{{error}}</p>
            {% endfor%}
            <form method="POST">
                {% csrf_token %}

                <hr class="ml-4">
                {{ wizard.management_form }}
                {% for field in wizard.form  %}
                       {% if field == wizard.form.user_type %}
                    <div id="div_id_{{field.name}}" class="ml-4 radio_ul" style="display: block;">
                        <label class="label" for="{{field.id_for_label}}">{{field.label}}:</label>
                        {{field}}
                    </div>
                {%else%}
                    <div style="margin-left: -20px;" id="div_id_{{field.name}}" class="">
                        <i class="prefix"> </i>
                        <label for="{{field.id_for_label}}" class="label" data-error="wrong"
                            data-success="right">{{field.label}}
                            {% if 'Phone' in field.label or "Company" in field.label or "Title" in field.label or "Dealer" in field.label %}
                            <span style="font-size: small;" class="text-muted ml-2">(optional) </span> 
                            {% endif %}
                        </label><br>
                        {{field}}
                        {% for error in field.errors %}
                        <p style="font-size:14px " class="help text-danger ml-5">{{error}}</p>
                        {% endfor %}
                    </div>
                    {% endif %}
                {% endfor %}
              
                 {% include "users/formwizard_btns.html" %}
            </form>
        </div>
    </div>
</div>
{% endblock%}