{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row in_exterior">
    <div class="col-md-12 col-sm-12 mb-5"><h2 class="text-center">Exterior View</h2></div>
    
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/front.png' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/interior_exterior/front.png' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/isometric.png' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/interior_exterior/isometric.png' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/roof-terrace.png' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/interior_exterior/roof-terrace.png' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/top.png' %}">
          <img class="carousel-img1 img-fluid d-block" src="{% static 'users/interior_exterior/top.png' %}" alt="Second slide"></a>
    </div>
  </div>
</div>
{% endblock %}