
{% extends 'users/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12  order_form_h2">
            <h2 class="text-center">BOLT ON BLOKS, LLC PRELIMINARY ORDER FORM</h2>
            <p>This Preliminary Order Form (“Preliminary Order” or “Agreement”) is related to the Buyer Developer’s (“Buyer”) right to cancel or modify any preliminary orders on prototype walk through models (“prototypes”) created and sold by Bolt on Bloks, LLC (“Seller”) (collectively, the “Parties”).</p>
            <h2>Recitals</h2>
            <p><b>WHEREAS</b>, Seller is engaged in the business of producing residential homes that are environmentally conscious, modular, and migration ready.</p>
            <p><b>WHEREAS</b>, Buyer enters this Preliminary Order in order to warrant and guarantee the purchase of a minimum of Seller’s prototypes pursuant to certain conditional terms as indicated below.</p>
            <p><b>NOW, THEREFORE</b>, in consideration of the mutual promises contained herein, the Parties hereby agree as follows: </p>

            <h2>Agreement</h2>
            <p><b>Minimum Orders</b>. Preliminary Orders must be made in a minimum combination of two (2) prototypes accordingly:</p>
            <p><b>Individual units</b>: single-family homes, duplex, triplex, man camps, employee housing, and other </p>
            <div class="col-md-12 table-responsive">
               
                <table  class="table view_order_table table-bordered  text-center table-striped">
                    <thead >
                        <tr >  
                            <th> No. of Floors</th>
                            <th>Variant</th>
                            <th>Approx. <br>Square Feet</th>
                            <th>Delivered Price <br>(Delivered to site for <br>20 units or less)</th>
                            <th>Delivered Price <br>(Delivered to site for <br>21 or more units)</th>
                            <th>Qty</th>
                            <th>Date Delivered<br> (to site)</th>
                        </tr >
                    </thead>
                    <tbody>
                    <form autocomplete="off" id="order_form"method="POST" action="/save-order/" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for data in pricing %}
                        <tr>
                            <td>{{data.no_of_floors}}</td>
                            <td>{{data.variant}}</td>
                            <td>{{data.square_feet}}</td>
                            <td >$ {{data.price|intcomma}}</td>
                            <td >$ {{data.price21|intcomma}}</td>
                            <td>
                                <select id="AgeDropdownId" name="quantity"  class="AgeDropdown p-1"> 
                                    <option value="" selected>-</option>
                                    {% for i in quantity %}
                                        <option value="{{forloop.counter}}##{{data.id}}">{{forloop.counter}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input onchange="form_submissions()" type="date" class="p-1" name="date_{{date.id}}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p><b>Multi-unit complex</b>: apartment buildings, mixed-use, hotel, motel, boutique hotel, condominium, town homes, hospitals, student housing, and other </p>
        <div class="col-md-12 table-responsive">
                <table class="table view_order_table table-bordered  text-center table-striped">
                    <thead>
                        <tr valign="top">  
                            <th> No. of Floors (max12)</th>
                            <th>Width (apt. units)</th>
                            <th>Depth (apt. units)</th>
                            <th>Approx. <br>Square Feet per room</th>
                            <th>Price per 290s.f. room(for 20units or less)</th>
                            <th>Price per 290s.f. room(for 21units or more)</th>
                            <th>Qty</th>
                            <th>Date Delivered<br> (to site)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{form2.no_of_floors|add_class:"p-1"}} stories</td>
                            <td><span>{{form2.width|add_class:"p-1"}} wide </span></td>
                            <td>{{form2.depth|add_class:"p-1"}} deep</td>
                            <td>{{custom_pricing.sqfeet_per_room|intcomma}}</td>
                            <td>$ {{custom_pricing.custom_price|intcomma}}</td>
                            <td>$ {{custom_pricing.custom_price21|intcomma}}</td>
                            <td>
                                <select id="AgeDropdownId" name="custom_quantity"  class="AgeDropdown p-1"> 
                                    <option value="" selected>-</option>
                                    {% for i in quantity %}
                                        <option value="{{forloop.counter}}##{{custom_pricing.id}}">{{forloop.counter}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input onchange="form_submissions()" type="date" class="p-1" name="custom_date"></td>
                        </tr>
                    </tbody>
                </table>            
        </div>
            <p><b>Total</b>: <span id="total">$ </span></p>
            <p><b>No Commitment Guarantee and Modifications.</b> Upon execution of this Preliminary Order, Buyer has seven (7) business days from said execution to indicate in writing to Seller any modifications to the prototypes ordered. Buyer shall then have thirty (30) days to make such modifications to Buyer’s reasonable satisfaction.<br>
            If no such modifications are made or received by Seller within such time period as indicated above, Buyer is thereafter obligated to purchase any prototypes as is.<br>  
            If Buyer cancels its Preliminary Order as indicated above and within seven (7) business days from said execution, Buyer is under no obligation to complete the purchase and such timely cancellation is at no cost to Buyer.</p>
            <p><b>Buyer’s Financial Integrity</b>. Upon execution of the Preliminary Order, Buyer shall furnish to Seller within seven (7) business days from said execution, proof of Buyer’s Financial Integrity in the full and total amount of the Preliminary Order, the following: bank statements, investment statements, bank loan agreement, Letter of Intent, cash, or asset collateral.</p>
            <h2>Miscellaneous Provisions</h2>
            <p><b>Expenses</b>. Each party shall pay her, his or its own costs and expenses, including attorney’s fees, incurred in connection with this Agreement and the transactions described herein.</p>
            <p><b>Amendment and Waiver</b>. This Agreement may not be amended, modified or supplemented in any manner, and no provision of this Agreement may be waived, whether by course of conduct or otherwise, except by an instrument in writing signed on behalf of each party and otherwise as expressly set forth in this Agreement.</p>
            <p><b>Choice of Law</b>. It is the intention of the parties that the laws of the State of California, County of Orange, shall govern the validity of this Agreement, the construction of its terms, and the interpretation of the rights and duties of the parties hereunder.</p>
            <p><b>Plain Meaning</b>. Each party hereto, together with his, her or its respective legal counsel, has reviewed this Agreement and negotiated the terms hereof, and agrees that each provision hereof is to be given its plain meaning. Each party agrees that if any issue arises as to the meaning or construction of any word, phrase or provision hereof, that no party shall be entitled to the benefit of the principles of the construction and interpretation of contracts of written instruments that provide that any ambiguity is to be construed in favor of the party who did not draft the disputed word, phrase, or provision</p>
            <p>
                <b>Severability</b>. If any provision of this Agreement shall be prohibited or invalid under applicable law, such provision shall be ineffective but only to the extent of such prohibition or invalidity, without invalidating the remainder of such provision or the remaining provisions of this Note or other such document. 
            </p>
            <p>
                <b>Binding Effect</b>. All the terms and provisions of this Agreement shall be binding upon, and inure to the benefit of, and be binding upon, the Parties and their respective legal representatives, successors and permitted assigns
            </p>
            <p>
                <b>Counterparts</b>. This Agreement may be executed in one or more counterparts, each of which shall be deemed to be an original, but all of which shall constitute one agreement. Photocopies, facsimile transmissions, or email transmission of Adobe portable document format files (“PDF” files) of signatures shall be deemed original signatures and shall be fully binding on the parties to the same extent as original signatures. 
            </p>
            <p>
                <b>IN WITNESS WHEREOF</b>, the Parties have executed this Preliminary Order Form on the day and year indicated below.
            </p>
            <input type="checkbox" class="" value="" required>
            <label><h5>(clickbox to accept signature)</h5></label>
            <p>Buyer:
                <span style="font-family: Brush Script Std;" id="buyer_name"> &nbsp;</span><span class="fa-pull-right">Dated <span class="date_today"  >_____________________</span></span>
            </p>
            <p>
                Print Name: <input id="print_name" data-toggle="tooltip" title="Full Name" type="text" name="print_name"  placeholder="Full Name" required>
            </p>
            <p>
                <span>Seller: Bolt on Bloks, LLC<span><span class="fa-pull-right">Dated <span class="date_today">_____________________</span></span>
            </p> <br>
            <!-- <p>Bolt on Bloks, LLC </p> -->
            <br>
            <p>
                All parties, add initials to each page and sign the last.
            </p>
            <input type="hidden" name="webcam" id="image-input_id" value="">
            <td><button id="form_save" type="submit" class="p-1 fa-pull-right btn btn-outline-info">Place Order</button></td>
            <div id="div_id"></div>

        </form>
        </div>
    </div> 
</div>

{% endblock %}

{% block js %}
<script>
    
    Webcam.set({
        width: 300,
        height: 400,
        image_format: 'jpeg',
        jpeg_quality: 90,
       
        });
    Webcam.attach('#div_id' );
</script>
{% endblock %}
          <!-- <video autoplay="true" id="thevideo"></video>
            <script>
            // Prefer camera resolution nearest to 1280x720.
            var constraints = { audio: true, video: { width: 1280, height: 720 } }; 
    
            // Older browsers might not implement mediaDevices at all, so we set an empty object first
                if (navigator.mediaDevices === undefined) {
                  navigator.mediaDevices = {};
                }
    
                // Some browsers partially implement mediaDevices. We can't just assign an object
                // with getUserMedia as it would overwrite existing properties.
                // Here, we will just add the getUserMedia property if it's missing.
                if (navigator.mediaDevices.getUserMedia === undefined) {
                  navigator.mediaDevices.getUserMedia = function(constraints) {
    
                    // First get ahold of the legacy getUserMedia, if present
                    var getUserMedia = navigator.webkitGetUserMedia || navigator.mozGetUserMedia;
    
                    // Some browsers just don't implement it - return a rejected promise with an error
                    // to keep a consistent interface
                    if (!getUserMedia) {
                      return Promise.reject(new Error('getUserMedia is not implemented in this browser'));
                    }
    
                    // Otherwise, wrap the call to the old navigator.getUserMedia with a Promise
                    return new Promise(function(resolve, reject) {
                      getUserMedia.call(navigator, constraints, resolve, reject);
                    });
                  }
                }
    
                navigator.mediaDevices.getUserMedia({ audio: true, video: true })
                .then(function(stream) {
                  var video = document.querySelector('video');
                  // Older browsers may not have srcObject
                  if ("srcObject" in video) {
                    video.srcObject = stream;
                  } else {
                    // Avoid using this in new browsers, as it is going away.
                    video.src = window.URL.createObjectURL(stream);
                  }
                  video.onloadedmetadata = function(e) {
                    video.play();
                  };
                })
                .catch(function(err) {
			  alert(err.name + ": " + err.message);
			});
            </script> -->