
{% extends 'users/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12  order_form_h2">
            <h2 class="text-center">My Order</h2>
            <p><b>Minimum Orders</b>. Preliminary Orders must be made in a minimum combination of two (2) prototypes accordingly:</p>
            <p><b>Individual units</b>: single-family homes, duplex, triplex, man camps, employee housing, and other </p>
            <div class="col-md-12 table-responsive">
               
                <table  class="table view_order_table table-bordered  text-center table-striped">
                    <thead >
                        <tr >  
                            <th> No. of Floors</th>
                            <th>Variant</th>
                            <th>Approx. <br>Square Feet</th>
                            <th>Delivered Price <br>(Delivered to site for <br>20 units or less)</th>
                            <th>Delivered Price <br>(Delivered to site for <br>21 or more units)</th>
                            <th>Qty</th>
                            <th>Date Delivered<br> (to site)</th>
                        </tr >
                    </thead>
                    <tbody>
                    <form autocomplete="off" id="order_form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ wizard.management_form }}
                        {% for data in pricing %}
                        <tr>
                            <td>{{data.no_of_floors}}</td>
                            <td>{{data.variant}}</td>
                            <td>{{data.square_feet}}</td>
                            <td >$ {{data.price|intcomma}}</td>
                            <td >$ {{data.price21|intcomma}}</td>
                            <td>
                                <select id="AgeDropdownId" name="quantity"  class="AgeDropdown p-1"> 
                                    <option value="" selected>-</option>
                                    {% for i in quantity %}
                                        <option value="{{forloop.counter}}##{{data.id}}">{{forloop.counter}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td><input onchange="form_submissions()" type="date" class="p-1" name="date_{{date.id}}"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <p><b>Multi-unit complex</b>: apartment buildings, mixed-use, hotel, motel, boutique hotel, condominium, town homes, hospitals, student housing, and other </p>
        <div class="col-md-12 table-responsive">
            <table class="table view_order_table table-bordered  text-center table-striped">
                <thead>
                    <tr valign="top">  
                        <th> No. of Floors (max12)</th>
                        <th>Width (apt. units)</th>
                        <th>Depth (apt. units)</th>
                        <th>Approx. <br>Square Feet per room</th>
                        <th>Price per 290s.f. room(for 20units or less)</th>
                        <th>Price per 290s.f. room(for 21units or more)</th>
                        <th>Qty</th>
                        <th>Date Delivered<br> (to site)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{form2.no_of_floors|add_class:"p-1"}} stories</td>
                        <td><span>{{form2.width|add_class:"p-1"}} wide </span></td>
                        <td>{{form2.depth|add_class:"p-1"}} deep</td>
                        <td>{{custom_pricing.sqfeet_per_room|intcomma}}</td>
                        <td>$ {{custom_pricing.custom_price|intcomma}}</td>
                        <td>$ {{custom_pricing.custom_price21|intcomma}}</td>
                        <td>
                            <select id="AgeDropdownId" name="custom_quantity"  class="AgeDropdown p-1"> 
                                <option value="" selected>-</option>
                                {% for i in quantity %}
                                    <option value="{{forloop.counter}}##{{custom_pricing.id}}">{{forloop.counter}}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td><input onchange="form_submissions()" type="date" class="p-1" name="custom_date"></td>
                    </tr>
                </tbody>
            </table>            
        </div>
            <p><b>Total</b>: <span id="total">$ </span></p>

            {% include "users/formwizard_btns.html" %}
        </form>
        </div>
    </div> 
</div>

{% endblock %}

{% comment %} {% block js %}
<script>
    
    Webcam.set({
        width: 300,
        height: 400,
        image_format: 'jpeg',
        jpeg_quality: 90,
       
        });
    Webcam.attach('#div_id' );
</script>
{% endblock %} {% endcomment %}
          