{% extends 'users/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row in_exterior">
    <div class="col-md-12 col-sm-12 mb-5"><h2 class="text-center">Interior View</h2></div>
    
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/bathroom.png' %}">
      <img class="img-fluid" src="{% static 'users/interior_exterior/bathroom.png' %}" alt="First slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/bedroom.png' %}">
      <img class="img-fluid" src="{% static 'users/interior_exterior/bedroom.png' %}" alt="Second slide"></a>
    </div>
    <div class="col-md-6 col-sm-12 p-4 thumb_div">
        <a target="_blank" href="{% static 'users/interior_exterior/kitchen.png' %}">
      <img class="img-fluid" src="{% static 'users/interior_exterior/kitchen.png' %}" alt="Second slide"></a>
    </div>
  </div>
</div>
{% endblock %}