{% extends "users/base.html"%}
{% load crispy_forms_tags %}

{% block content %}
<div class="sm-padding"></div>
<div class="container quicksand-font">
    <div class="row mt-5 mb-4">
<div class="col-md-6 pt-4 pb-5">
			<h1 class="text-center create_acct_h1 mb-4"><b>Sign In</b></h1>
			<div class="w-100 bg-white mt-5 pb-3" style="border-radius: 20px;">
				<form method="POST" action="/login/">
					{% csrf_token %}
					<div class="form-group">
						<div style="margin-left: -20px;" class="custom_input">
							<i class="prefix"> </i>
							<label for="login-email" class="label" data-error="wrong"
								   data-success="right">Email</label><br>
							<input type="email" id="login-email" name="username" required>
						</div>
						<div style="margin-left: -20px;"class="custom_input">
							<i class="prefix"> </i>
							<label for="login-password" class="label" data-error="wrong"
								   data-success="right">Password*</label><br>
							<input type="password" id="login-password" name="password" required>
						</div>
						<div class="w-100 mt-2">
							<small>
							<a class="fa-pull-right forget-pass" href="{% url 'password_reset' %}"> Forgot Password? </a>
							</small>
						</div>
						<br>
						<div class="w-100 mt-4 text-center">
							<button class="btn btn-custom btn-lg pl-5 pr-5" type="submit">Login</button>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>

{% endblock content %}