{% load humanize %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Pdf</title>

<style type="text/css">
h1{
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}

p{
    font-size: 16px;
}


</style>
</head>
<body>
    <h1 ><u>Bolt ON BLOKS,LLC PRELIMINARY ORDER FORM</u></h1>
    <p>This Preliminary Order Form (Preliminary Order or Agreement) is related to the
            Buyer Developer's (Buyer) right to cancel or modify any preliminary orders on
            prototype walk through models (prototypes) created and sold by Bolt on Bloks, LLC
            (Seller) (collectively, the Parties).</p>
    <h1>Recitals</h1>
    <p><b>WHEREAS</b>, Seller is engaged in the business of producing residential homes that are
            environmentally conscious, modular, and migration ready.</p>
    <p><b>WHEREAS</b>, Buyer enters this Preliminary Order in order to warrant and guarantee the
            purchase of a minimum of Seller's prototypes pursuant to certain conditional terms as
            indicated below.</p>
    <p><b>NOW, THEREFORE</b>, in consideration of the mutual promises contained herein, the
            Parties hereby agree as follows:</p>
    <h1>Agreement</h1>
    <p><b>Minimum Orders</b>. Preliminary Orders must be made in a minimum combination of two
            (2) prototypes accordingly:</p>
    <p><b>Individual units:</b> single-family homes, duplex, triplex, man camps, employee housing,
            and other</p>
    <table style="font-size:20px; border: 1px black solid; text-align: center;" >
        <h1>Your Order</h1>
        <thead>
            <tr style="padding: 5px;">
                <td><b>No. of Floors</b></td>
                <td><b>Variant</b></td>
                <td><b>Approx Square Feet</b></td>
                <td><b>Quantity</b></td>
                <td><b>Delivery Date</b></td>
                <td><b>Price</b></td>
            </tr>
            
        </thead>
        
        <thead>

            {% for value in cart %}
            <tr style="padding-top: 5px;">                       
                <td >{{value.order_items.no_of_floors}}</td>
                <td>{{value.order_items.variant}}</td>
                <td>{{value.order_items.square_feet}}</td>
                <td>{{value.quantity}}</td>
                <td>{{value.delivery_date}}</td>
                <td>$ {{value.order_items.price|intcomma}} (per item)</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    <p><b>Multi-unit complex:</b> apartment buildings, mixed-use, hotel, motel, boutique hotel,
            condominium, town homes, hospitals, student housing, and other</p>
    <p style="font-size:18px"><b>Total:</b> $ {{total|intcomma}}</p>
    <p><b>No Commitment Guarantee and Modifications.</b> Upon execution of this Preliminary
            Order, Buyer has seven (7) business days from said execution to indicate in writing to
            Seller any modifications to the prototypes ordered. Buyer shall then have thirty (30) days
            to make such modifications to Buyer's reasonable satisfaction.
    </p>
    <p>If no such modifications are made or received by Seller within such time period as
            indicated above, Buyer is thereafter obligated to purchase any prototypes as is.</p>
    <p>
        If Buyer cancels its Preliminary Order as indicated above and within seven (7) business
        days from said execution, Buyer is under no obligation to complete the purchase and such
        timely cancellation is at no cost to Buyer.
    </p>
    <p>
        <b>Buyer's Financial Integrity.</b> Upon execution of the Preliminary Order, Buyer shall
        furnish to Seller within seven (7) business days from said execution, proof of Buyer's
        Financial Integrity in the full and total amount of the Preliminary Order, the following:
        bank statements, investment statements, bank loan agreement, Letter of Intent, cash, or
        asset collateral.
    </p>
    <h1>Miscellaneous Provisions</h1>
    <p>
        <b>Expenses.</b> Each party shall pay her, his or its own costs and expenses, including
        attorney's fees, incurred in connection with this Agreement and the transactions described
        herein.
    </p>
    <p><b>Amendment and Waiver.</b> This Agreement may not be amended, modified or
            supplemented in any manner, and no provision of this Agreement may be waived,
            whether by course of conduct or otherwise, except by an instrument in writing signed on
            behalf of each party and otherwise as expressly set forth in this Agreement.
    </p>
    <p>
        <b>Choice of Law.</b> It is the intention of the parties that the laws of the State of California,
        County of Orange, shall govern the validity of this Agreement, the construction of its
        terms, and the interpretation of the rights and duties of the parties hereunder.
    </p>
    <p><b>Plain Meaning.</b> Each party hereto, together with his, her or its respective legal counsel,
            has reviewed this Agreement and negotiated the terms hereof, and agrees that each
            provision hereof is to be given its plain meaning. Each party agrees that if any issue
            arises as to the meaning or construction of any word, phrase or provision hereof, that no
            party shall be entitled to the benefit of the principles of the construction and interpretation
            of contracts of written instruments that provide that any ambiguity is to be construed in
            favor of the party who did not draft the disputed word, phrase, or provision.
    </p>
    <p>
        <b>Severability. </b>If any provision of this Agreement shall be prohibited or invalid under
        applicable law, such provision shall be ineffective but only to the extent of such
        prohibition or invalidity, without invalidating the remainder of such provision or the
        remaining provisions of this Note or other such document.
    </p>
    <p>
        <b>Binding Effect.</b> All the terms and provisions of this Agreement shall be binding upon,
        and inure to the benefit of, and be binding upon, the Parties and their respective legal
        representatives, successors and permitted assigns.
    </p>
    <p><b>IN WITNESS WHEREOF,</b> the Parties have executed this Preliminary Order Form on
            the day and year indicated below.
    </p>
    {% for data in cart|slice:":1" %}
    <table>
        <tr style="font-size: 18px; padding: 0; text-align: left;">
            <td colspan="2">Buyer:&nbsp; <u>{{data.user.first_name|title}} {{data.user.last_name|title}} </u></td>
            <td>Date:&nbsp; {{date}}</td>
        </tr>
    </table>
    {% endfor %}
    <br>
    <table>
        <tr style="font-size: 18px; padding: 0; text-align: left;">
            <td colspan="2">Seller:&nbsp; <u>Bolt on Bloks, LLC</u></td>
            <td>Date:&nbsp; {{date}}</td>
        </tr>
    </table>

    <br>
    <p style="font-size: 18px;">All parties, add initials to each page and sign the last.</p>
</body>
</html>