{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block custom_css %}
   <style>
   table{
      font-family: Franklin Gothic Book;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.1em;
   }
      .order-heading {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 44px;
      color: #999999;
      }
      .white-bg {
         background: #FFFFFF;
         padding: 40px;
         min-height: 400px;
      }

      .border {
         border: 1px solid #000000;
      }
      #order-list {
         margin-top: 30px;
      }
      .main-th {
         font-family: Montserrat;
         font-style: normal;
         font-weight: bold;
         font-size: 16px;
         line-height: 20px;
         /* identical to box height */
         text-align: center;
         color: #5CA6CF;
      }
      .table thead th {
         border-bottom: 2px solid #ffffff !important;
         vertical-align: middle !important;
         border: 2px solid #ffffff !important;
      }
      .table td, .table th {
         border-top: 0px solid #ffffff;
      }
      .fw-500 {
         font-weight: 500 !important;
         text-align: left;
      }
      .address-div {
         word-wrap: break-word;
         width: 150px;
      }
      .secondary-th {
         font-family: Montserrat;
         font-style: normal !important;
         font-weight: 500 !important;
         font-size: 16px;
         line-height: 20px;
         /* identical to box height */

         letter-spacing: 0.1em;
         /* identical to box height */
         text-align: center;
         color: #5CA6CF;
      }
      .sec-tbody {
         font-size: 14px;
      }
      .sec-tbody-td {
         line-height: 0.1;
      }
      .table-td-img {
         width: 100%;
      }
      .custom-tr {
         line-height: 0 !important;
          padding: 0;
          height: 10px;
      }
      u {
         color: #5CA6CF;
      }

      .pt-2 {
         padding-top: 30px !important;
      }
      .pb-2 {
         padding-bottom: 30px !important;
      }
      .tr-border {
         border-top: 2px solid #999999;
      }
      .tr-bottom-border {
         border-bottom: 2px solid #999999;
      }
      .black-border {
         border-top: 3px solid #000000 !important;
         border-bottom: 2px solid;
      }
   </style>
{% endblock %}
{% block content %}
 <div class="container mt-5 mb-5">
     <div class="row">
         {% include 'signup/side_nav.html' %}
         <div class="col-lg-9 col-md-9 m-auto mt-2">
             <p class="order-heading">ORDER HISTORY</p>

             <div class="tab-content table-responsive" id="order-list">
                 <table class="table  parent">
                     <thead style="">
                     <tr height="70" class="main-th">
                         <th>Order Date</th>
                         <th>Order Number  </th>
                         <th>Location</th>
                         <th>Status </th>
                         <th>Details</th>
                     </tr>
                     </thead>

                     <tbody>
                     {% for order in items %}
                     <tr height="45" bgcolor="FFFFFF" class="detail_anchor_container black-border">
                         <td><a>{{ order.ordered_on }}</a></td>
                         <td><a>{{ order.id }}</a></td>
                         <td><a>{{ order.user.specuser.address }}</a></td>
                         <td><a>Complete</a></td>
                         <td><a><u>See your order details</u><span class="fas fa-pencil"></span></a></td>
                     </tr>
                     <tr style="display:none;">
                         <td class="" colspan="5">
                             <table class="table">
                               <colgroup width="50"></colgroup>
                               <colgroup width="50"></colgroup>
                               <colgroup width="50"></colgroup>
                               <colgroup width="50"></colgroup>
                                 <thead>
                                     <tr class="secondary-th">
                                         <th class="fw-500">PAYMENT METHOD</th>
                                         <th class="fw-500">SHIPPING ADDRESS </th>
                                         <th class="fw-500" colspan="2"> ORDER SUMMARY</th>
                                     </tr>
                                 </thead>
                                 <tbody class="sec-tbody">
                                     <tr height="10">
                                         <td rowspan="5">
                                           <div class="address-div payment">

                                           </div>
                                         </td>
                                         <td rowspan="5">
                                           <div  class="address-div">
											   {{ order.delivery_info_obj.address }}</div>
                                         </td>
                                         <td>Subtotal</td>
                                     {% if order.custom_order %}
                                        {% if order.quantity < 21 %}
                                          <td>${{ order.custom_order.custom_price|intcomma }}</td>
                                        {% else %}
                                          <td>${{ order.custom_order.custom_price21|intcomma }}</td>
                                        {% endif %}
                                     {% else %}
                                         {% if order.quantity < 21 %}
                                          <td>${{ order.order_items.price|intcomma }}</td>
                                        {% else %}
                                          <td>${{ order.order_items.price21|intcomma }}</td>
                                        {% endif %}
                                     {% endif %}
                                     </tr>
                                     <tr class="sec-tbody-td">
                                         <td>Discount</td>
                                         <td></td>
                                     </tr>
                                     <tr class="sec-tbody-td">
                                         <td>
                                         <div  class="address-div">
                                           Shipping Fees
                                         </div>
                                       </td>
                                         <td></td>
                                     </tr>
                                     <tr  class="sec-tbody-td">
                                         <td>
                                           <div class="address-div">
                                           Sales Taxes
                                           </div>
                                         </td>
                                         <td></td>
                                     </tr>
                                     <tr class="sec-tbody-td">
                                         <td class="pb-2">TOTAL</td>
                                        {% if order.custom_order %}
                                           {% if order.quantity < 21 %}
                                             <td class="pb-2">${{ order.custom_order.custom_price|intcomma }}</td>
                                           {% else %}
                                             <td class="pb-2">${{ order.custom_order.custom_price21|intcomma }}</td>
                                           {% endif %}
                                        {% else %}
                                            {% if order.quantity < 21 %}
                                             <td class="pb-2">${{ order.order_items.price|intcomma }}</td>
                                           {% else %}
                                             <td class="pb-2">${{ order.order_items.price21|intcomma }}</td>
                                           {% endif %}
                                        {% endif %}
                                     </tr>

                                     <tr height="30" class="tr-border">
                                         <td class="pt-2 tr-bottom-border" rowspan="3">
                                             <img class="table-td-img" src="{{ order.order_items.model_image }}">
                                         </td>
                                        {% if not order.custom_order %}
                                          <td class="pt-2"><u>{{ order.order_items.model_name }} </u></td>
                                        {% else %}
                                          <td class="pt-2"><u>Custom Order </u></td>
                                        {% endif %}
                                         <td class="pt-2" colspan="2">
                                             DELIVERY ON {{ order.delivery_info_obj.delivery_date }}
                                         </td>
                                     </tr>
                                     <tr class="custom-tr">
                                        {% if order.custom_floors %}
                                        <td>{{ order.custom_floors }} story {{ order.custom_width }} wide</td>
                                        {% else %}
                                         <td>{{ order.order_items.no_of_floors }} {{ order.order_items.variant }}</td>
                                        {% endif %}
                                        <td colspan="2" rowspan="2" class="tr-bottom-border">
                                           <u>
                                           View Purchase Agreement
                                           </u>
                                         </td>
                                     </tr>
                                     <tr class="tr-bottom-border">
                                        {% if order.custom_floors %}
                                        <td colspan="2" class="pb-2">{{ order.custom_floors }} story approx 290 sq.ft
                                           .per room</td>
                                        {% else %}
                                         <td colspan="2" class="pb-2">{{ order.order_items.no_of_floors }}
                                            {{ order.order_items.square_feet }} sq.ft.</td>
                                        {% endif %}
                                     </tr>
                                 </tbody>
                             </table>
                         </td>
                     </tr>
                     {% endfor %}

                     </tbody>
                 </table>
             </div>
         </div>

     </div>
 </div>

   {% block js %}
      <script type="text/javascript">
          $(document).ready(function(){
              $('#order-list').on('click','.detail_anchor_container a',function(){
                  $(this).closest('tr').next('tr').slideToggle();
                  if($(this).closest('tr')[0].style.backgroundColor == 'rgb(242, 242, 242)') {
                      $(this).closest('tr').css({'background': '#FFFFFF', 'border-bottom': '2px solid'});
                  }
                  else {
                      $(this).closest('tr').css({'background': '#F2F2F2', 'border-bottom': 'none'})
                  }
              });
          });
      </script>
   {% endblock %}
{% endblock %}
