
{% extends 'users/base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
        <h2 class="text-center mb-4"><strong>Order Summary</strong></h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 table-responsive">
            <table class="table view_order_table table-bordered  text-center table-striped">
                <thead>
                    <tr>  
                        <th> No. of Floors</th>
                        <th>Variant</th>
                        <th>Approx. <br>Square Feet</th>
                        <th>Delivered Price <br>(Delivered to site for <br>20 units or less)</th>
                        <th>Delivered Price <br>(Delivered to site for <br>21 or more units)</th>
                        <th>Qty</th>
                        <th>Date Delivered<br> (to site)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in order %}
                    <tr>
                        <td>{{i.product.no_of_floors}}</td>
                        <td>{{i.product.variant}}</td>
                        <td>{{i.product.square_feet}}</td>
                        <td >$ {{i.product.price|intcomma}}</td>
                        <td >$ {{i.product.price21|intcomma}}</td>
                        <td>{{i.qty}}</td>
                        <td>{{i.date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
        {% if custom_order != None %}
        <div class="row">
            <div class="col-md-12 col-sm-12 mt-5 table-responsive">
                <table class="table view_order_table table-bordered  text-center table-striped">
                    <legend class="text-center font-weight-bold">Custom Order</legend>
                    <thead>
                        <tr valign="top">  
                            <th> No. of Floors (max12)</th>
                            <th>Width (apt. units)</th>
                            <th>Depth (apt. units)</th>
                            <th>Approx. <br>Square Feet per room</th>
                            <th>Price per 290s.f. room(for 20units or less)</th>
                            <th>Price per 290s.f. room(for 21units or more)</th>
                            <th>Qty</th>
                            <th>Date Delivered<br> (to site)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{custom_order.no_of_floors}}</td>
                            <td><span>{{custom_order.width}} wide </span></td>
                            <td>{{custom_order.depth}} deep</td>
                            <td>{{custom_order.product.sqfeet_per_room}}</td>
                            <td>$ {{custom_order.product.custom_price|intcomma}}</td>
                            <td>$ {{custom_order.product.custom_price21|intcomma}}</td>
                            <td>{{custom_order.qty}}</td>
                            <td>{{custom_order.date}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %} 

    <div class="row">
        <div class="col-md-12 col-sm-12 mt-4 mb-5">
            <form method="POST">
                {%csrf_token%}
                {{ wizard.management_form }}
                {% if wizard.steps.prev %}
                    <div class="form-group fa-pull-left">
                        <button  name="wizard_goto_step" class="btn btn-black btn-lg"  value="{{ wizard.steps.prev }}" formnovalidate="formnovalidate">Previous</button>
                    </div>
                {% endif %}

                <div class="form-group fa-pull-right">
                    {% if wizard.steps.next %}
                        <button type="submit" class="btn btn-black btn-lg">Continue</button>
                    {% else %}
                    <button type="submit" class="btn btn-black btn-lg">
                    {%if next_button%}
                        as{{next_button}}
                        {%else%}
                        Place Order
                        {%endif%}
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}


          