{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12 table-responsive">
            <table class="table view_order_table table-bordered text-center">
                {% for data in items|slice:":1" %}
                    <legend class="text-center mb-5 text-capitalize"><h2><b>Order by: </b> {{data.user.first_name}} {{data.user.last_name}}</h2><br><b>Email:</b> {{data.user}}</legend>
                {% endfor %}
                <thead>
                    <tr>
                        <th>No of Floors</th>
                        <th>Variant</th>
                        <th>Area</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Ordered on</th>
                        <th>Delivery Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in items %}
                        <tr>
                            <td>{{i.order_items.no_of_floors}}</td>
                            <td>{{i.order_items.variant}}</td>
                            <td>{{i.order_items.square_feet}}</td>
                            <td>{{i.quantity}}</td>
                            <td class="text-capitalize">$ {{i.order_items.price|intcomma}} (per unit)</td>
                            <td>{{i.ordered_on}}</td>
                            <td>{{i.delivery_date}}</td>
                            
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}

